<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        {% if page.title %}
        <title>{{ page.title }} - {{ site.name }}</title>
        {% else %}
        <title>{{ site.name }}</title>
        {% endif %}

        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}

        {% if page.tags %}
        <meta name="keywords" content="{{page.tags | join: ','}}">
        {% else %}
        <meta name="keywords" content="{{site.keywords | join: ','}}">
        {% endif %}

        {% if page.date %}
        <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}">
        {% endif %}

        <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.production_url}}/feed.xml">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/main.css">
        {% for css in page.extra-css %}
        <link rel="stylesheet" href="{{ css }}">
        {% endfor %}

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

        <div class="container">

            <div class="row">
                <div class="span3 content-left">

                    <div class="row">
                        <div class="span3">

                            <div class="menu hidden-phone">
                                <ul class="pull-right unstyled">
                                    <li><a href="/">Blog <i class="icon-pencil"></i></a></li>
                                    <li><a href="/speaking/">Speaking <i class="icon-group"></i></a></li>
                                    <li><a href="/projects/">Projects <i class="icon-lightbulb"></i></a></li>
                                    <li><a href="/about/">About <i class="icon-info-sign"></i></a></li>
                                </ul>
                            </div>

                            <div class="mobile-menu visible-phone">
                                <select>
                                    <option value="/" selected="selected">Blog</option>
                                    <option value="/speaking/">Speaking</option>
                                    <option value="/projects/">Projects</option>
                                    <option value="/about/">About</option>
                                </select>
                            </div> <!-- mobile-menu -->

                        </div> <!-- span4 -->
                    </div> <!-- row menu -->

                    <div class="row profile">
                        <div class="span3">
                            <h3><a href="/">Matthew Morey</a></h3>

                            <p>I'm an engineer, developer, <a href="http://www.raywenderlich.com/store/core-data-tutorials-ios-8-swift-edition">author</a>, hacker, creator, tinkerer, traveler, snowboarder, <a title="Hurricane Wilma Surf Session" href="http://www.youtube.com/watch?v=Dmz2RatYI8s">surfer</a>, and <a href="http://triciamorey.com/" title="Personal website of Tricia Morey">husband</a>.</p>

                            <p>I create iOS apps <a href="http://chaione.com" title="ChaiONE Mobile Application Provider">professionally</a> and <a href="http://buoyexplorer.com" title="Buoy Explorer iOS app">independently</a>.</p>

                            <div class="social-links">
                                <script type="text/javascript">
                                <!--
                                // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                                { coded = "rC@rw88GC7rIYCE.nIr"
                                  key = "KbPvcmo3NQLg9x1SCsiafJWnrIdUZhtXDAqy5VwlHjuYzOpRG8F2BkET674eM0"
                                  shift=coded.length
                                  link=""
                                  for (i=0; i<coded.length; i++) {
                                    if (key.indexOf(coded.charAt(i))==-1) {
                                      ltr = coded.charAt(i)
                                      link += (ltr)
                                    }
                                    else {
                                      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                                      link += (key.charAt(ltr))
                                    }
                                  }
                                document.write("<a href='mailto:"+link+"'><i class=\"icon-envelope icon-2x\"></i></a>")
                                }
                                //-->
                                </script><noscript></noscript>
                                <a href="http://www.linkedin.com/in/mmorey" title="Matthew Morey Linkedin profile"><i class="icon-linkedin icon-2x"></i></a>
                                <a href="https://github.com/mmorey" title="mmorey on Github"><i class="icon-github icon-2x"></i></a>
                                <a href="https://twitter.com/xzolian" title="@xzolian on Twitter"><i class="icon-twitter icon-2x"></i></a>
                                <a href="/feed.xml"><i class="icon-rss icon-2x"></i></a>
                            </div> <!-- social-links -->

                            {% include sitesearch.html %}

                        </div> <!-- span4 -->
                    </div> <!-- row profile -->

                    <div class="row profile">
                        <div class="span3" style="text-align: center;">
                            <a href="http://www.raywenderlich.com/store/core-data-tutorials-ios-8-swift-edition"><img src="/assets/2014-10-15-coredata_by_tutorials.png" alt="Core Data by Tutorials book cover"></a>
                            <a href="http://www.raywenderlich.com/store/core-data-tutorials-ios-8-swift-edition">Core Data by Tutorials</a>
                        </div>
                    </div>
                </div> <!-- span4 content-left -->


                <div class="span9">

                    <div class="content-right">
