<form method="get" class="site-search" action="http://duckduckgo.com/">
    <input type="hidden" name="sites" value="{{ site.production_url }}"/>
    <input type="hidden" name="kj" value="#2FA4E7"/>
    <input type="hidden" name="k8" value="#555555"/>
    <input type="hidden" name="k9" value="#2FA4E7"/>
    <input type="hidden" name="kaa" value="#2FA4E7"/>
    <input type="hidden" name="kt" value="h"/>
    <input type="text" name="q" maxlength="255" placeholder="Search"/>
    <input type="submit" value="DuckDuckGo Search" class="invisible" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
</form>